{% extends 'template.html' %}

{% block title %}
    {{ pagename }}
{% endblock %}

{% block content %}
<div class="ui grid">
    <div class="left floated left aligned sixteen wide column">
        <h1 class="ui dividing blue header">{{ pagename|title }}</h1>
    </div>
</div>
<table class="ui celled striped table">
    <thead>
        <tr>
            <th><h1></h1></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <form class="ui form" id="formalta" method="post" action="/alicuotas/modificar" style="text-align: center !important;">
                    <div class="three fields">
                        <div class="field">
                            <label>Codigo</label> 
                            <div class="field">
                                <input type="text" name="codigo" id="codigo" placeholder="Codigo" readonly required value="{{ alicuotas.ti_codigo }}">
                            </div>
                        </div>
                        <div class="field">
                            <label>Denominación</label>
                            <div class="field">
                                <input type="text" style="text-transform: uppercase" name="descripcion" id="descripcion" placeholder="Denominación" value="{{ alicuotas.descripciontxt }}"><div class="aviso">Quedan <span id="charsLeftDescripcion"></span> caracteres.</div>
                            </div>
                        </div>
                        <div class="field">                            
                            <label>% Ret</label>
                            <div class="ui field">
                                <input type="text" name="retencion" id="retencion" value="{{ alicuotas.ti_alicuo }}" placeholder="% Ret" onKeyPress="return Validate4EntY2Dec(event,this)">
                            </div>
                        </div>
                        <div class="field">                            
                            <label>% Perc</label>
                            <div class="ui field">
                                <input type="text" name="percepcion" id="percepcion" value="{{ alicuotas.ti_alicuo2 }}" placeholder="% Perc" onKeyPress="return Validate4EntY2Dec(event,this)">
                            </div>
                        </div>
                    </div>
                    <button class="ui positive submit button" tabindex="0" type="submit">Submit</button>
                </form>
            </td>
        </tr>
    </tbody>
</table>
<script src="/js/jquery.js"></script>
<script src="/js/jquery.limit-1.2.js"></script>
<script type="text/javascript">
    $('#descripcion').limit('50','#charsLeftDescripcion');
</script>
{% endblock %}