{% extends 'template.html' %}
{% block title %}
	{{ pagename }}
{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/datatable/media/css/dataTables.semanticui.min.css"/>
<!-- <link rel="stylesheet" type="text/css" href="/datatable/extensions/KeyTable/css/keyTable.dataTables.min.css"/> -->
<div class="ui grid">
    <div class="left floated left aligned ten wide column">
        <h1 class="ui dividing blue header">{{ pagename|title }}</h1>
    </div>
</div>
<div class="ui two column grid">
    <div class="ten wide column">
        <div class="twelve wide field">
            <table class="ui striped celled table" id="tTituloAsiento" >
                <thead>
                    <tr>
                        <th style="width: 90px !important;">Fecha</th>
                        <th style="width: 20px !important;">N°</th>
                        <th>Titulo</th>
                        <th style="width: 20px !important;">Origen</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </div>
    <div class="six wide column" style="padding-top: 24px !important; text-align: center;">
        <div class="four wide field">
            <table style="display: inline-block !important;">
                <tr>
                    <td>Periodo:</td>
                </tr>
                <tr>
                    <td>
                        <div class="ui calendar" id="fecha" name="fecha">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" placeholder="Desde" id="fecha_desde" name="fecha_desde" style="width: 130px !important">
                            </div>
                        </div>
                    </td>
                    <td style="text-align: center !important;"><span style="margin: 3px;">al</span></td>
                    <td>
                        <div class="ui calendar" id="fecha2" name="fecha2">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" placeholder="Hasta" id="fecha_hasta" name="fecha_hasta" style="width: 130px !important">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td style="text-align: center;">
                        <button class="ui primary basic button" style="margin: 3px;" data-tooltip="Limpiar Pantalla" data-position="bottom center"><i class="large undo icon" style="margin: 0;"></i></button>
                    </td>
                    <td></td>
                    <td style="text-align: center;">
                        <button class="ui orange basic button" id="btnSearch" data-tooltip="Ejecutar la busqueda" data-position="bottom center"><i class="large search icon" style="margin: 0;"></i></button>
                    </td>
                </tr>
                <tr>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td style="text-align: center;">
                        <a href="/asientos/alta"><button class="ui positive basic button" style="margin: 3px;" data-tooltip="Nuevo Registro" data-position="bottom center"><i class="large plus icon" style="margin: 0;"></i></button></a>
                    </td>
                    <td></td>
                    <td style="text-align: center;"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="ui grid" style="padding-top: 0px !important; margin-top: 0px !important;">
    <div class="ui column">
        <div class="six wide field">
            <table class="ui striped celled table" id="tContenidoAsientos">
                <thead>
                    <tr>
                        <th>Tipo</th>   
                        <th>Cuenta</th>
                        <th>Importe</th>
                        <th>Descripcion</th>
                        <th>Nombre de Cuenta</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div> 
    </div>
</div>
<div class="ui grid" style="padding-top: 0px !important; margin-top: 0px !important;">
    <div class="four wide column">
        <div class="field">
            <div class="ui labeled input">
                <div class="ui label">Total Debe</div>
                <input type="text" placeholder="" id="total_debe" name="total_debe">
            </div>
        </div>
    </div>
    <div class="four wide column">
        <div class="field">
            <div class="ui labeled input">
                <div class="ui label">Total Haber</div>
                <input type="text" placeholder="" id="total_haber" name="total_haber">
            </div>
        </div>
    </div>
    <div class="four wide column">
        <div class="field">
            <div class="ui labeled input">
                <div class="ui label">Diferencia</div>
                <input type="text" placeholder="" id="diferencia" name="movimientos">
            </div>
        </div>
    </div>
    <div class="four wide column">
        <div class="field">
            <div class="ui labeled input">
                <div class="ui label">Movs.</div>
                <input type="text" placeholder="" id="movimientos" name="movimientos">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/datatable/media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/datatable/media/js/dataTables.semanticui.min.js"></script>
<script type="text/javascript">
    $('#tTituloAsiento').DataTable({
        "bPaginate": false,
        "bFilter": false,
        "bInfo": false
    });

    var tablaContenido = $('#tContenidoAsientos').DataTable({
        "bPaginate": false,
        "bFilter": false,
        "bInfo": false
    });


    $(function(){
        $('#fecha').calendar({
            type: 'date',
            monthFirst: false,
            formatter: {
                date: function (date, settings) {
                    if (!date) return '';
                    var day = date.getDate();
                    if (day < 10)
                        day = "0"+day;
                    var month = date.getMonth() + 1;
                    if (month < 10)
                        month = "0"+month;
                    var year = date.getFullYear();
                    return day + '/' + month + '/' + year;
                }
            }
        });

        $('#fecha2').calendar({
            type: 'date',
            monthFirst: false,
            formatter: {
                date: function (date, settings) {
                    if (!date) return '';
                    var day = date.getDate();
                    if (day < 10)
                        day = "0"+day;
                    var month = date.getMonth() + 1;
                    if (month < 10)
                        month = "0"+month;
                    var year = date.getFullYear();
                    return day + '/' + month + '/' + year;
                }
            }
        });

        var today = generateTodayDateDMY();
        var primero = "01"+today.substring(2, 10);
        $("#fecha_desde").val(primero);
        $("#fecha_hasta").val(today);
    });
    
    $("#btnSearch").on("click", function(){
        var fecha_desde = $("#fecha_desde").val();
        var fecha_hasta = $("#fecha_hasta").val();

        if (fecha_desde != '' && fecha_desde.length == 10){
            if(fecha_hasta != '' && fecha_hasta.length == 10){
                fecha_desde = encodeURIComponent(changeDate(fecha_desde));
                fecha_hasta = encodeURIComponent(changeDate(fecha_hasta));
                $('#tTituloAsiento').DataTable({
                    ajax: {
                        url: "/asientos/filtroajax/"+fecha_desde+"/"+fecha_hasta,
                        dataSrc: "data"
                    },
                    columns: [
                        { data : "fecha_f" },
                        { data : "asiento" },
                        { data : "as_titu" },
                        { data : "as_origen" }
                    ],
                    "destroy": true,
                    "bPaginate": false,
                    "bFilter": false,
                    "bInfo": false,
                    "scrollY": "20vh",
                    "keys": true,
                    fnInitComplete: function(oSettings) {
                        $('#tTituloAsiento tbody tr:eq(0)').children().click();
                    }
                })
                .on( 'key-focus', function ( e, datatable, cell ) {
                    var row = datatable.row( cell.index().row );                    
                    $(".selected").removeClass("selected");
                    $( row.node() ).addClass( "selected" );                    
                    $( cell.node() ).removeClass( "focus" );                    
                    var fecha = $(row.node()).children('td');                    
                    var asiento = fecha.next("td");
                    var fecha = encodeURIComponent(changeDate(fecha.html()));
                    var total_debe = 0;
                    var total_haber = 0;
                    var diferencia = 0;
                    var movimientos = 0;
                    $("#total_debe").val("");
                    $("#total_haber").val("");
                    $("#diferencia").val("");
                    $("#movimientos").val("");
                    $('#tContenidoAsientos').DataTable({
                        ajax: {
                            url: "/asientos/contenido/filtroajax/"+fecha+"/"+asiento.html(),
                            dataSrc: "data"
                        },
                        columns: [
                            { data : "tipo" },
                            { data : "cuenta" },
                            { data : "importe" },
                            { data : "descrip" },
                            { data : "nombre" }
                        ],
                        "destroy": true,
                        "bPaginate": false,
                        "bFilter": false,
                        "bInfo": false,
                        "rowCallback": function( row, data, index ) {
                            console.log(data)
                            if (data.tipo == "H")
                                total_haber += data.importe;

                            if(data.tipo == "D")
                                total_debe += data.importe;

                            movimientos = index;
                        },
                        "initComplete": function(settings, json) {
                            $("#total_debe").val(parseFloat(total_debe).toFixed(2));
                            $("#total_haber").val(parseFloat(total_haber).toFixed(2));
                            $("#diferencia").val(parseFloat(total_debe).toFixed(2)-parseFloat(total_haber).toFixed(2));
                            $("#movimientos").val(parseInt(movimientos)+1);
                        }
                    });
                });
            }
        }
    });
    
</script>
{% endblock %}