{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<div class="ui grid">
    <div class="left floated left aligned sixteen wide column">
        <h1 class="ui dividing blue header">{{ pagename|title }}</h1>
    </div>
   <!--  <div class="right floated right aligned six wide column">
        <div class="ui buttons">
            <a href="/plandecuentas/alta" class="ui green button inverted" data-tooltip="Nuevo" data-position="bottom center"><i class="large plus icon"></i></a>
            <div class="ui blue button inverted" data-tooltip="Ayuda" data-position="bottom center"><i class="large idea icon"></i></div>
        </div>
    </div> -->
</div>
<table class="ui blue celled striped table">
    <thead>
        <tr>
            <th><h1></h1></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <form class="ui form" id="formalta" method="post" action="/centrodecostos/modificar" style="text-align: center !important;">
                    <div class="fields">
                        <div class="two wide field">
                            <label>Numero</label> 
                            <div class="field">
                                <input type="text" name="numero" id="numero" placeholder="Numero" required onKeyPress="return soloNumeros(event)" value="{{ centro.ce_nume }}">
                            </div>
                        </div>
                        <div class="four wide field">
                            <label>Denominacion</label>
                            <div class="field">
                                <input type="text" name="denominacion" id="denominacion" placeholder="Denomacion" required style="text-transform: uppercase;" value="{{ centro.denominaciontxt }}"><div class="aviso">Quedan <span id="charsLeftDenominacion"></span> caraceteres.</div>
                            </div>
                        </div>
                        <!-- listar solo cuentas imputables -->
                        <div class="six wide field">                            
                            <label>Cuenta Contable</label>
                            <div class="field">
                                <select id="cuenta" name="cuenta" class="ui search dropdown" style="width:auto !important;" maxlength="10">
                                    <option value="">Cuenta</option>
                                    {% for i in imputables %}
                                        {% if i.cuenta == centro.ce_cuen %}
                                            <option value="{{ i.cuenta }}" selected>{{ i.cuenta }} - {{ i.nombre }}</option>
                                        {% else %}
                                            <option value="{{ i.cuenta }}">{{ i.cuenta }} - {{ i.nombre }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="two wide field">                            
                            <label>C.C. Cerrado</label>
                            <div class="ui toggle checkbox">
                                {% if centro.ce_cerro == '1' %}
                                    <input type="checkbox" name="cerrado" id="cerrado" checked>    
                                {% else %}
                                    <input type="checkbox" name="cerrado" id="cerrado">
                                {% endif %}                                
                            </div>
                        </div>
                    </div>
                    <button class="ui basic submit button" tabindex="0" type="submit">Submit</button>
                </form>
            </td>
        </tr>
    </tbody>
</table>
<script src="/js/jquery.js"></script>
<script src="/js/jquery.maskedinput.js"></script>
<script src="/js/jquery.limit-1.2.js"></script>
<script type="text/javascript">
    // $("#codigo").mask("9999999999");
    $('#denominacion').limit('45','#charsLeftDenominacion');
    
</script>
{% endblock %}