{% extends 'template.html' %}
{% block title %}
    {{ pagename }}
{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/datatable/media/css/dataTables.semanticui.min.css"/>
<div class="ui grid">
    <div class="left floated left aligned ten wide column">
        <h1 class="ui dividing blue header">{{ pagename|title }}</h1>
    </div>
</div>

<div class="ui grid">
    <div class="four wide field">
        <select class="ui search dropdown" name="tipo" id="tipo" style="width: 50px !important;">
            <option value="0">Tipo de Comprobante</option>
            {% for t in tipocv %}
                <option value="{{ t.tipo }}">{{ t.nombre }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="four wide field">
        <select class="ui search dropdown" name="fecha" id="fecha" style="width: 50px !important;">
            <option value="0">Por Fecha De</option>
            <option value="1">Comprobante</option>
            <option value="2">Vencimiento</option>
        </select>
    </div>
    <div class="two wide field">
        <div class="ui calendar" id="fecha" name="fecha">
            <div class="ui input left icon">
                <i class="calendar icon"></i>
                <input type="text" placeholder="Fecha Desde" id="fecha_desde" name="fecha_desde" style="width: 130px;">
            </div>
        </div>
    </div>
    <div class="two wide field">
        <div class="ui calendar" id="fecha2" name="fecha2">
            <div class="ui input left icon">
                <i class="calendar icon"></i>
                <input type="text" placeholder="Fecha Hasta" id="fecha_hasta" name="fecha_hasta" style="width: 130px;">
            </div>
        </div>
    </div>
    <div class="three wide field">
        <select class="ui search dropdown" name="cliente" id="cliente">
            <option value="0">Clientes</option>
            {% for c in clientes %}
                <option value="{{ c.cl_nume }}">{{ c.cl_apel }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="three wide field">
        <select class="ui search dropdown" name="estado" id="estado">
            <option value="0">Estado</option>
            <option value="1">Todos</option>
            <option value="2">Adeudados</option>
        </select>
    </div>
    <div class="two wide field">
        <button class="ui inverted green button" style="margin-right: 0px;" onClick="FiltroBusqueda();"><i class="search icon" style="margin-right: 3px; margin-left: 3px;"></i></button>
    </div>
</div><br>

<table class="ui striped celled table" id="tabla_codigosegreso">
    <thead>
        <tr>
            <th><a class="ui ribbon label" style="width: 40px;">Opciones</a></th>  
            <th style="width: 40px;">Letra</th>
            <th>N°</th>
            <th>Fecha</th>
            <th>Tipo</th>
            <th>Cliente</th>
            <th>Total $</th>
            <th>Abonó $</th>
            <th>Vence</th>
            <th>Neto $</th>
            <th>% Ret</th>
            <th>Importe $</th>
            <th style="width: 40px;">Remito/Factura</th>
        </tr>
    </thead>
</table>
<div class="ui container right aligned" style="margin: 25px;">
    <div class="ui left action input">
        <button class="ui massive primary icon button" style="text-align: center;">
            Total:
        </button>
        <input type="text" readonly id="idtotal" style="font-weight: bold; font-size: 30px; text-align: center; padding: 0;">
    </div>
    <div class="ui left action input">
        <button class="ui massive primary icon button" style="text-align: center;">
            Comprobantes:
        </button>
        <input type="text" readonly id="comprobantes" style="font-weight: bold; font-size: 30px; text-align: center; padding: 0;">
    </div>
</div>


<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/datatable/media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/datatable/media/js/dataTables.semanticui.min.js"></script>
<script src="/js/swig.min.js"></script>
<script type="text/javascript">

function FiltroBusqueda(){
    var desde = $("#fecha_desde").val();
    var hasta = $("#fecha_hasta").val();

    if(desde.length > 0){
        if(hasta.length > 0){
            var fecha = $("#fecha").val();
            var cliente = $("#cliente").val();
            var tipo = $("#tipo").val();
            var estado = $("#estado").val();

            desde = encodeURIComponent(changeDate(desde));
            hasta = encodeURIComponent(changeDate(hasta));

            var table = $('#tabla_codigosegreso').DataTable({
                "destroy": true,
                ajax: {
                    url: "/comprobantes/filtroajax/"+desde+"/"+hasta+"/"+fecha+"/"+cliente+"/"+tipo+"/"+estado,
                    dataSrc: "data"
                },
                columns: [
                    { data : null },
                    { data : "let" },
                    { data : "Numero" },
                    { data : "Fecha" },
                    { data : "T_Com" },
                    { data : "Cliente" },
                    { data : "Total" },
                    { data : "Abonado" },
                    { data : "Vence" },
                    { data : "Neto" },
                    { data : "PorRet" },
                    { data : "ImpRet" },
                    { data : "remito" }
                ],
                fnRowCallback: function(nRow, aData, iDisplayIndex, iDisplayIndexFull){
                    $(nRow).children(":first").html("<div class='ui icon buttons'><a class='mini ui blue icon button inverted ver' data-numero='"+aData.Numero+"' data-tooltip='Ver Recibo'><i class='search icon'></i></a><a href='/comprobantes/eliminar/"+aData.Numero+"' class='mini ui red icon button inverted' data-tooltip='Eliminar' onclick='if (!confirm('¿Seguro desea eliminar?')) return false;'><i class='trash icon'></i></a></div>");
                },
                fnInitComplete: function(oSettings, json) {
                    var formatNumber = {
                        separador: ".", // separador para los miles
                        sepDecimal: ',', // separador para los decimales
                        formatear:function (num){
                            num +='';
                            var splitStr = num.split('.');
                            var splitLeft = splitStr[0];
                            var splitRight = splitStr.length > 1 ? this.sepDecimal + splitStr[1] : '';
                            var regx = /(\d+)(\d{3})/;
                            while (regx.test(splitLeft)) {
                                splitLeft = splitLeft.replace(regx, '$1' + this.separador + '$2');
                            }
                            return this.simbol + splitLeft  +splitRight;
                        },
                        new:function(num, simbol){
                            this.simbol = simbol ||'';
                            return this.formatear(num);
                        }
                    }
                    var total = 0;
                    var total2;
                    var total3;
                    table.column(6).data().each(function(value, index){
                        total += parseFloat(value);
                        total2 = total.toFixed(2);
                        total3 = formatNumber.new(total2, "$");
                        $("#idtotal").val(total3);
                        $("#comprobantes").val(index+1);
                    });
                }
            });
        }else{
            alert("Debe seleccionar una fecha hasta.");
            $("#fecha_hasta").focus();
        }
    }else{
        alert("Debe seleccionar una fecha desde.");
        $("#fecha_desde").focus();
    }
}

$(function(){
    $('#fecha, #fecha2').calendar({
        type: 'date',
        monthFirst: false,
        formatter: {
            date: function (date, settings) {
                if (!date) return '';
                var day = date.getDate();
                if (day < 10)
                    day = "0"+day;
                var month = date.getMonth() + 1;
                if (month < 10)
                    month = "0"+month;
                var year = date.getFullYear();
                return day + '/' + month + '/' + year;
            }
        }
    });        
});

$(document).on("click", ".ver", function(){
    var numero = $(this).data("numero");
    $("#WaitingModal").modal("show");
    $.getJSON("/ordenes/getorden1/"+numero, function(op1){
        $.getJSON("/ordenes/getorden2/"+numero, function(op2){
            $.getJSON("/ordenes/getorden3/"+numero, function(op3){
                $("#destino").val(op1[0].o1_desti);
                $("#ordenpago").val(op1[0].o1_nume);
                $("#nro_caja").val(op1[0].o1_sucu);
                $("#fecha_orden").val(op1[0].xfecha);
                $("#total").val(op1[0].o1_total);
                $("#total2").val(op1[0].o1_total);
                $("#det1").val(op1[0].o1_nota1);
                $("#det2").val(op1[0].o1_nota2);
                $("#det3").val(op1[0].o1_nota3);
                var diferencia = op1[0].total;
                $("#dif2").val(diferencia);
                op2_table_content = "";
                op2_table2_content = "";
                op3_table_content = "";
                for(var x = 0; x < op2.length; x++){
                    if(op2[0].o2_tipo == 1){
                        op2_table_content += "<tr><td style='text-align: center !important;'>"+op2[x].o2_factu+"</td><td style='text-align: center !important;'>"+op2[x].o2_letra+"</td><td style='text-align: center !important;'>"+op2[x].o2_impo+"</td><td style='text-align: center !important;'>"+op2[x].o2_impa+"</td><td style='text-align: center !important;'>"+op2[x].o2_deta+"</td><td style='text-align: center !important;'>"+op2[x].xfecha+"</td><td style='text-align: center !important;'>"+op2[x].o2_tipo+"</td><td style='text-align: center !important;'></td></tr>";
                    } else {
                        op2_table2_content += "<tr><td style='text-align: center !important;'>"+op2[x].o2_deta+"</td><td style='text-align: center !important;'>"+op2[x].o2_impa+"</td></tr>";
                    }
                    
                }
                for(var x = 0; x < op3.length; x++){
                    op3_table_content += "<tr><td style='text-align: center !important;'>"+op3[x].o3_tipo+"</td><td style='text-align: center !important;'>"+op3[x].nombre+"</td><td style='text-align: center !important;'>"+op3[x].o3_impor+"</td><td style='text-align: center !important;'>"+op3[x].o3_impo_o+"</td><td style='text-align: center !important;'>"+op3[x].o3_cotiza+"</td><td style='text-align: center !important;'></td><td style='text-align: center !important;'>"+op3[x].o3_cheque+"</td><td style='text-align: center !important;'></td><td style='text-align: center !important;'>"+op3[x].o3_banco+"</td><td style='text-align: center !important;'>"+op3[x].xfecha+"</td><td style='text-align: center !important;'>"+op3[x].o3_mu_caja+"</td></tr>"
                }

                $("#op2_table_content").empty();
                $("#op2_table2_content").empty();
                $("#op3_table_content").empty();
                $("#op2_table_content").append(op2_table_content);
                $("#op2_table2_content").append(op2_table2_content);
                $("#op3_table_content").append(op3_table_content);
                $(".ui.fullscreen.modal").modal({
                    blurring: true
                });
                $("#WaitingModal").modal("hide");
                $('.ui.fullscreen.modal').modal('show');
            });
        });
    });
});
</script>
{% endblock %}