{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<div class="ui grid">
    <div class="left floated left aligned sixteen wide column">
        <h1 class="ui dividing blue header">{{ pagename|title }}</h1>
    </div>
   <!--  <div class="right floated right aligned six wide column">
        <div class="ui buttons">
            <a href="/plandecuentas/alta" class="ui green button inverted" data-tooltip="Nuevo" data-position="bottom center"><i class="large plus icon"></i></a>
            <div class="ui blue button inverted" data-tooltip="Ayuda" data-position="bottom center"><i class="large idea icon"></i></div>
        </div>
    </div> -->
</div>
<table class="ui blue celled striped table">
    <thead>
        <tr>
            <th><h1></h1></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <form class="ui form" id="formalta" method="post" action="/condicionesdeventa/modificar" style="text-align: center !important;">
                    <div class="fields">
                        <div class="two wide field">
                            <label>Numero</label> 
                            <div class="field">
                                <input type="text" name="numero" id="numero" placeholder="Numero" readonly value="{{ condicion.co_nume }}">
                            </div>
                        </div>
                        <div class="four wide field">
                            <label>Denominacion</label>
                            <div class="field">
                                <input type="text" name="denominacion" id="denominacion" placeholder="Denominacion" required style="text-transform: uppercase;" value="{{ condicion.denominaciontxt }}"><div class="aviso">Quedan <span id="charsLeftDenominacion"></span> caraceteres.</div>
                            </div>
                        </div>
                        <div class="two wide field">
                            <label>Dias</label> 
                            <div class="field">
                                <input type="text" name="dias" id="dias" placeholder="Dias" required onKeyPress="return soloNumeros(event)" maxlength="5" value="{{ condicion.co_dias }}">
                            </div>
                        </div>
                        <div class="two wide field">
                            <label>%</label> 
                            <div class="field">
                                <input type="text" name="porce" id="porce" placeholder="Porcentaje" required onKeyPress="return Validate3EntY3Dec(event,this)" value="{{ condicion.co_porce }}">
                            </div>
                        </div>
                        <div class="two wide field">                   
                            <label>Cuotas</label>
                            <div class="field">
                                <input type="text" name="cuotas" id="cuotas" placeholder="Nro. de Cuotas" maxlength="2" required onKeyPress="return soloNumeros(event)" value="{{ condicion.co_cuotas }}">
                            </div>
                        </div>
                    </div>
                    <button class="ui basic submit button" tabindex="0" type="submit">Submit</button>
                </form>
            </td>
        </tr>
    </tbody>
</table>
<script src="/js/jquery.js"></script>
<script src="/js/jquery.maskedinput.js"></script>
<script src="/js/jquery.limit-1.2.js"></script>
<script type="text/javascript">
    // $("#codigo").mask("9999999999");
    $('#denominacion').limit('40','#charsLeftDenominacion');
    
</script>
{% endblock %}