{% extends 'template.html' %}
{% block title %}
    {{ pagename }}
{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/datatable/media/css/dataTables.semanticui.min.css"/>
<div class="ui grid">
    <div class="left floated left aligned ten wide column">
        <h1 class="ui dividing blue header">{{ pagename|title }}</h1>
    </div>
</div>

<div class="ui grid">
    <div class="two wide field">
        <div class="ui calendar" id="fecha" name="fecha">
            <div class="ui input left icon">
                <i class="calendar icon"></i>
                <input type="text" placeholder="Fecha Desde" id="fecha_desde" name="fecha_desde" style="width: 140px;">
            </div>
        </div>
    </div>
    <div class="two wide field">
        <div class="ui calendar" id="fecha2" name="fecha2">
            <div class="ui input left icon">
                <i class="calendar icon"></i>
                <input type="text" placeholder="Fecha Hasta" id="fecha_hasta" name="fecha_hasta" style="width: 140px;">
            </div>
        </div>
    </div>
    <div class="three wide field">
        <select class="ui search dropdown" name="proveedor" id="proveedor">
            <option value="0">Por Proveedor</option>
            {% for p in proveedores %}
                <option value="{{ p.pr_nume }}">{{ p.pr_apel }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="three wide field">
        <select class="ui search dropdown" name="talonario" id="talonario">
            <option value="0">Por Talonario</option>
            {% for o in ordenes %}
                <option value="{{ o.o1_sucu }}">{{ o.o1_sucu }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="three wide field">
        <select class="ui search dropdown" name="tipo" id="tipo">
            <option value="0">Tipo de Orden</option>
            <option value="1">Otras Cuentas</option>
            <option value="2">Proveedores</option>
        </select>        
    </div>
    <div class="two wide field">
        <button class="ui inverted green button" style="margin-right: 0px;" onClick="FiltroBusqueda();"><i class="search icon" style="margin-right: 3px; margin-left: 3px;"></i></button>
    </div>
</div><br>

<table class="ui striped celled table" id="tabla_codigosegreso">
    <thead>
        <tr>
            <th><a class="ui ribbon label">Opciones</a></th>  
            <th>Fecha</th>
            <th>N°</th>
            <th>Destino</th>
            <th>Total $</th>
            <th>Talonario</th>
            <th>N° Mov.</th>
            <th>Imp C.C.</th>
            <th>Periodo</th>
            <th>Ch. Caja</th>
        </tr>
    </thead>
</table>

<div class="ui fullscreen modal" id="modalVer" style="max-height: 80vh !important; overflow-y: auto;">
    <i class="close icon"></i>
    <div class="header">
        Orden de Pago
    </div>
    <div class="ui container" style="margin-top: 10px !important;">
        <div class="ui form">
            <div class="fields">
                <label style="font-weight: bold !important; margin-top: 10px !important;">Destino</label>
                <div class="four wide field">
                    <input type="text" name="destino" id="destino" readonly style="text-align: center !important;">
                </div>
                <div class="four wide field"></div>
                <label style="font-weight: bold !important; margin-top: 10px !important;">Orden Pago N°</label>
                <div class="field">
                    <input type="text" name="ordenpago" id="ordenpago" readonly style="width: 80px !important; text-align: center !important;">
                </div>
                <label style="font-weight: bold !important; margin-top: 10px !important;">Caja</label>
                <div class="field">
                    <input type="text" name="nro_caja" id="nro_caja" readonly style="width: 50px !important; text-align: center !important;">
                </div>
                <label style="font-weight: bold !important; margin-top: 10px !important;">Fecha</label>
                <div class="field">
                    <input type="text" name="fecha_orden" id="fecha_orden" readonly style="width: 110px !important; text-align: center !important;">
                </div>
            </div>
            <div class="ui divider"></div>
            <div class="ui grid">
                <div class="ten wide field">
                    <label style="margin-top: 10px !important;">Comprobantes a Abonar</label>
                    <table class="ui table" style="width: 100% !important; overflow-x: scroll; display: block !important;">
                        <thead>
                            <tr>
                                <th>N° Comprob.</th>
                                <th>Letra</th>
                                <th>Total $</th>
                                <th>Abona $</th>
                                <th>Detalle</th>
                                <th>Fecha</th>
                                <th>Tip.Comp.</th>
                                <th>Alíc. IVA %</th>
                            </tr>
                        </thead>
                        <tbody id="op2_table_content">
                            <!-- <tr></tr> -->
                        </tbody>
                    </table>
                </div>
                <div class="six wide field">
                    <label style="margin-top: 10px !important;">Otros Conceptos</label>
                    <table class="ui table">
                        <thead>
                            <tr>
                                <th>Detalle</th>
                                <th>Importe $</th>
                            </tr>
                        </thead>
                        <tbody id="op2_table2_content">
                            <!-- <tr></tr> -->
                        </tbody>
                    </table>
                    <div class="ui grid" style="float: right !important; margin-top: 1px !important;">
                        <label style="margin-top: 10px !important;">Total</label>
                        <div class="field">
                            <input type="text" name="total" id="total" readonly style="width: 120px !important; text-align: center !important;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui divider"></div>
            <div class="ui grid">
                <div class="ten wide field">
                    <label style="margin-top: 10px !important;">Medios de Pago</label>
                    <table class="ui table" style="width: 100% !important; overflow-x: scroll; display: block !important;">
                        <thead>
                            <tr>
                                <th style="text-align: center !important;">M.P.</th>
                                <th style="text-align: center !important;">Denominacion</th>
                                <th style="text-align: center !important;"><div style="width: 85px !important;">Importe $</div></th>
                                <th style="text-align: center !important;">Impor Origi</th>
                                <th style="text-align: center !important;"><div style="width: 80px !important;">Cotiza $</div></th>
                                <th style="text-align: center !important;"><div style="width: 95px !important;">Bco - Suc - CP</div></th>
                                <th style="text-align: center !important;"><div style="width: 90px !important;">Cheque N°</div></th>
                                <th style="text-align: center !important;">Cuenta Bco.</th>
                                <th style="text-align: center !important;">Banco</th>
                                <th style="text-align: center !important;">Fecha Valor</th>
                                <th style="text-align: center !important;">Mueve Caja</th>
                            </tr>
                        </thead>
                        <tbody id="op3_table_content"">
                            <!-- <tr></tr> -->
                        </tbody>
                    </table>
                    <div class="fields" style="float: right !important;">
                        <label style="margin-top: 10px !important;">Total $</label>
                        <div class="field">
                            <input type="text" name="total2" id="total2" readonly style="width: 120px !important; text-align: center !important;">
                        </div>
                        <label style="margin-top: 10px !important;">Diferencia $</label>
                        <div class="field">
                            <input type="text" name="dif2" id="dif2" readonly style="width: 120px !important; text-align: center !important;">
                        </div>
                    </div>
                </div>
                <div class="six wide field">
                    <label style="margin-top: 10px !important;">Nota</label>
                    <table class="ui table">
                        <tr><td><label id="det1"></label></td></tr>
                        <tr><td><label id="det2"></label></td></tr>
                        <tr><td><label id="det3"></label></td></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/datatable/media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/datatable/media/js/dataTables.semanticui.min.js"></script>
<script src="/js/swig.min.js"></script>
<script type="text/javascript">

function FiltroBusqueda(){
    var desde = $("#fecha_desde").val();
    var hasta = $("#fecha_hasta").val();

    if(desde.length > 0){
        if(hasta.length > 0){
            var proveedor = $("#proveedor").val();
            var talonario = $("#talonario").val();
            var tipo = $("#tipo").val();

            desde = encodeURIComponent(changeDate(desde));
            hasta = encodeURIComponent(changeDate(hasta));
            if(proveedor == '') proveedor = 0;

            var table = $('#tabla_codigosegreso').DataTable({
                ajax: {
                    url: "/ordenes/filtroajax/"+desde+"/"+hasta+"/"+proveedor+"/"+talonario+"/"+tipo,
                    dataSrc: "data"
                },
                columns: [
                    { data : null },
                    { data : "xfecha" },
                    { data : "xnume" },
                    { data : "xdesti" },
                    { data : "xtotal" },
                    { data : "xsucu" },
                    { data : "xnumovi" },
                    { data : "xcosto" },
                    { data : "xaplica" },
                    { data : "xcaja" }
                ],
                fnRowCallback: function(nRow, aData, iDisplayIndex, iDisplayIndexFull){
                    $(nRow).children(":first").html("<div class='ui icon buttons'><a class='mini ui blue icon button inverted ver' data-numero='"+aData.xnume+"' data-tooltip='Ver Recibo'><i class='search icon'></i></a><a href='/ordenes/eliminar/"+aData.xnume+"' class='mini ui red icon button inverted' data-tooltip='Eliminar' onclick='if (!confirm('¿Seguro desea eliminar?')) return false;'><i class='trash icon'></i></a></div>");
                },
            });
        }else{
            alert("Debe seleccionar una fecha hasta.");
            $("#fecha_hasta").focus();
        }
    }else{
        alert("Debe seleccionar una fecha desde.");
        $("#fecha_desde").focus();
    }
}

$(function(){
    $('#fecha, #fecha2').calendar({
        type: 'date',
        monthFirst: false,
        formatter: {
            date: function (date, settings) {
                if (!date) return '';
                var day = date.getDate();
                if (day < 10)
                    day = "0"+day;
                var month = date.getMonth() + 1;
                if (month < 10)
                    month = "0"+month;
                var year = date.getFullYear();
                return day + '/' + month + '/' + year;
            }
        }
    });        
});

$(document).on("click", ".ver", function(){
    var numero = $(this).data("numero");
    $("#WaitingModal").modal("show");
    $.getJSON("/ordenes/getorden1/"+numero, function(op1){
        $.getJSON("/ordenes/getorden2/"+numero, function(op2){
            $.getJSON("/ordenes/getorden3/"+numero, function(op3){
                $("#destino").val(op1[0].o1_desti);
                $("#ordenpago").val(op1[0].o1_nume);
                $("#nro_caja").val(op1[0].o1_sucu);
                $("#fecha_orden").val(op1[0].xfecha);
                $("#total").val(op1[0].o1_total);
                $("#total2").val(op1[0].o1_total);
                $("#det1").val(op1[0].o1_nota1);
                $("#det2").val(op1[0].o1_nota2);
                $("#det3").val(op1[0].o1_nota3);
                var diferencia = op1[0].total;
                $("#dif2").val(diferencia);
                op2_table_content = "";
                op2_table2_content = "";
                op3_table_content = "";
                for(var x = 0; x < op2.length; x++){
                    if(op2[0].o2_tipo == 1){
                        op2_table_content += "<tr><td style='text-align: center !important;'>"+op2[x].o2_factu+"</td><td style='text-align: center !important;'>"+op2[x].o2_letra+"</td><td style='text-align: center !important;'>"+op2[x].o2_impo+"</td><td style='text-align: center !important;'>"+op2[x].o2_impa+"</td><td style='text-align: center !important;'>"+op2[x].o2_deta+"</td><td style='text-align: center !important;'>"+op2[x].xfecha+"</td><td style='text-align: center !important;'>"+op2[x].o2_tipo+"</td><td style='text-align: center !important;'></td></tr>";
                    } else {
                        op2_table2_content += "<tr><td style='text-align: center !important;'>"+op2[x].o2_deta+"</td><td style='text-align: center !important;'>"+op2[x].o2_impa+"</td></tr>";
                    }
                    
                }
                for(var x = 0; x < op3.length; x++){
                    op3_table_content += "<tr><td style='text-align: center !important;'>"+op3[x].o3_tipo+"</td><td style='text-align: center !important;'>"+op3[x].nombre+"</td><td style='text-align: center !important;'>"+op3[x].o3_impor+"</td><td style='text-align: center !important;'>"+op3[x].o3_impo_o+"</td><td style='text-align: center !important;'>"+op3[x].o3_cotiza+"</td><td style='text-align: center !important;'></td><td style='text-align: center !important;'>"+op3[x].o3_cheque+"</td><td style='text-align: center !important;'></td><td style='text-align: center !important;'>"+op3[x].o3_banco+"</td><td style='text-align: center !important;'>"+op3[x].xfecha+"</td><td style='text-align: center !important;'>"+op3[x].o3_mu_caja+"</td></tr>"
                }

                $("#op2_table_content").empty();
                $("#op2_table2_content").empty();
                $("#op3_table_content").empty();
                $("#op2_table_content").append(op2_table_content);
                $("#op2_table2_content").append(op2_table2_content);
                $("#op3_table_content").append(op3_table_content);
                $(".ui.fullscreen.modal").modal({
                    blurring: true
                });
                $("#WaitingModal").modal("hide");
                $('.ui.fullscreen.modal').modal('show');
            });
        });
    });
});
</script>
{% endblock %}