{% extends 'template.html' %}
{% block title %}
	{{ pagename }}
{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/datatable/media/css/dataTables.semanticui.min.css"/>
<div class="ui grid">
    <div class="left floated left aligned ten wide column">
        <h1 class="ui dividing blue header">{{ pagename|title }}</h1>
    </div>
    <!-- <div class="right floated right aligned six wide column">
        <div class="ui buttons">
            <a href="/recibos/alta" class="ui green button inverted" data-tooltip="Nuevo" data-position="bottom center"><i class="large plus icon" style="margin: 0;"></i></a>
            <a href="/recibos/export" class="ui violet button inverted" data-tooltip="Descargar Excel" data-position="bottom center"><i class="large cloud download icon" style="margin: 0;"></i></a>
            <div class="ui blue button inverted" data-tooltip="Ayuda" data-position="bottom center"><i class="large idea icon" style="margin: 0;"></i></div>
        </div>
    </div> -->
</div>

<div class="ui grid">
    <div class="two wide field">
        <!-- <label>Fecha Desde</label> -->
        <div class="ui calendar" id="fecha" name="fecha">
            <div class="ui input left icon">
                <i class="calendar icon"></i>
                <input type="text" placeholder="Fecha Desde" id="fecha_desde" name="fecha_desde" style="width: 140px;">
            </div>
        </div>
    </div>
    <div class="two wide field">
        <!-- <label>Fecha Hasta</label> -->
        <div class="ui calendar" id="fecha2" name="fecha2">
            <div class="ui input left icon">
                <i class="calendar icon"></i>
                <input type="text" placeholder="Fecha Hasta" id="fecha_hasta" name="fecha_hasta" style="width: 140px;">
            </div>
        </div>
    </div>
    <div class="three wide field">
        <select class="ui search dropdown" name="cliente" id="cliente">
            <option value="0">Cliente</option>
            {% for c in clientes %}
                <option value="{{ c.cl_nume }}">{{ c.cl_apel }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="five wide field">
        <select class="ui search dropdown" name="tipo" id="tipo">
            <option value="0">Medio de Pago</option>
            {% for m in mediosdepago %}
                <option value="{{ m.codigo }}">{{ m.nombre }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="two wide field">
        <button class="ui inverted green button" style="margin-right: 0px;" onClick="FiltroBusqueda();"><i class="search icon" style="margin-right: 3px; margin-left: 3px;"></i></button>
    </div>
</div><br>

<table class="ui striped celled table" id="tabla_codigosegreso">
    <thead>
        <tr>
        	<th><a class="ui ribbon label">Opciones</a></th>  
            <th>Fecha</th>
            <th>N° Tal</th>
            <th>N° Recibo</th>
            <th>N° Cliente</th>
            <th>Razon Social</th>
            <th>Importe</th>
            <th>N° Mov.</th>
        </tr>
    </thead>
</table>
<div class="ui fullscreen modal" id="modalVer" style="max-height: 80vh !important; overflow-y: auto;">
    <i class="close icon"></i>
    <div class="header">
        Ver Recibo
    </div>
    <div class="ui container" style="margin-top: 10px !important;">
        <div class="ui form">
            <div class="fields">
                <label style="margin-top: 10px !important;">Cliente</label>
                <div class="four wide field">
                    <input type="text" name="cliente_recibo" id="cliente_recibo" readonly style="text-align: center !important;">
                </div>
                <div class="four wide field"></div>
                <label style="margin-top: 10px !important;">Comprobante N°</label>
                <div class="field">
                    <input type="text" name="comprobante" id="comprobante" readonly style="width: 50px !important; text-align: center !important;">
                </div>
                <label style="margin-top: 10px !important;">N° Caja</label>
                <div class="field">
                    <input type="text" name="nro_caja" id="nro_caja" readonly style="width: 80px !important; text-align: center !important;">
                </div>
                <label style="margin-top: 10px !important;">Fecha</label>
                <div class="field">
                    <input type="text" name="fecha_recibo" id="fecha_recibo" readonly style="width: 110px !important; text-align: center !important;">
                </div>
            </div>
            <div class="ui divider"></div>
            <div class="ui grid">
                <div class="ten wide field">
                    <label style="margin-top: 10px !important;">Comprobantes Abonados</label>
                    <table class="ui table" id="r3_table_content">
                        <thead>
                            <tr>
                                <th>N° Comprob.</th>
                                <th>Letra</th>
                                <th>Total $</th>
                                <th>Abona $</th>
                                <th>Detalle</th>
                            </tr>
                        </thead>
                        <!-- <tr></tr> -->
                    </table>
                </div>
                <div class="six wide field">
                    <label style="margin-top: 10px !important;">Otros Conceptos</label>
                    <table class="ui table" id="r3_table2_content">
                        <thead>
                            <tr>
                                <th>Detalle</th>
                                <th>Importe $</th>
                            </tr>
                        </thead>
                        <!-- <tr></tr> -->
                    </table>
                    <div class="ui grid" style="float: right !important; margin-top: 1px !important;">
                        <label style="margin-top: 10px !important;">Total</label>
                        <div class="field">
                            <input type="text" name="total" id="total" readonly style="width: 120px !important; text-align: center !important;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui divider"></div>
            <div class="ui grid">
                <div class="ten wide field">
                    <label style="margin-top: 10px !important;">Medios de Pago</label>
                    <table class="ui table" id="r2_table_content" style="width: 100% !important; overflow-x: scroll; display: block !important;">
                        <thead>
                            <tr>
                                <th style="text-align: center !important;">M.P.</th>
                                <th style="text-align: center !important;">Denominacion</th>
                                <th style="text-align: center !important;"><div style="width: 85px !important;">Importe $</div></th>
                                <th style="text-align: center !important;">Impor Origi</th>
                                <th style="text-align: center !important;"><div style="width: 80px !important;">Cotiza $</div></th>
                                <th style="text-align: center !important;"><div style="width: 95px !important;">Bco - Suc - CP</div></th>
                                <th style="text-align: center !important;"><div style="width: 90px !important;">Cheque N°</div></th>
                                <th style="text-align: center !important;">Cuenta Bco.</th>
                                <th style="text-align: center !important;">Banco</th>
                                <th style="text-align: center !important;">Fecha Valor</th>
                                <th style="text-align: center !important;">Mueve Caja</th>
                                <th style="text-align: center !important;">Titular/N° Cert.</th>
                                <th style="text-align: center !important;">Cta.Ctable</th>
                            </tr>
                        </thead>
                        <!-- <tr></tr> -->
                    </table>
                    <div class="fields" style="float: right !important;">
                        <label style="margin-top: 10px !important;">Total $</label>
                        <div class="field">
                            <input type="text" name="total2" id="total2" readonly style="width: 120px !important; text-align: center !important;">
                        </div>
                        <label style="margin-top: 10px !important;">Diferencia $</label>
                        <div class="field">
                            <input type="text" name="dif2" id="dif2" readonly style="width: 120px !important; text-align: center !important;">
                        </div>
                    </div>
                </div>
                <div class="six wide field">
                    <label style="margin-top: 10px !important;">Nota</label>
                    <table class="ui table">
                        <tr><td><label id="det1"></label></td></tr>
                        <tr><td><label id="det2"></label></td></tr>
                        <tr><td><label id="det3"></label></td></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/datatable/media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/datatable/media/js/dataTables.semanticui.min.js"></script>
<!-- <script type="text/javascript" src="/js/semantic.js"></script> -->
<script src="/js/swig.min.js"></script>
<script type="text/javascript">
    // var cTable = $('#tabla_codigosegreso').DataTable();
    swig.setDefaults({
        varControls: ['[[', ']]'],
        tagControls: ['[%', '%]']
    });

    function FiltroBusqueda(){
        var desde = $("#fecha_desde").val();
        var hasta = $("#fecha_hasta").val();

        if(desde.length > 0){
            if(hasta.length > 0){
                $('#tbodylisto').html('<p style="padding-left: 20px; padding-top: 20px;">Cargando...<p>');
                var cliente = $("#cliente").val();
                var tipo = $("#tipo").val();

                desde = encodeURIComponent(changeDate(desde));
                hasta = encodeURIComponent(changeDate(hasta));
                if(cliente == '') cliente = 0;

                $('#tabla_codigosegreso').DataTable({
                    ajax: {
                        url: "/recibos/filtroajax/"+desde+"/"+hasta+"/"+cliente+"/"+tipo,
                        dataSrc: "data"
                    },
                    columns: [
                        { data : null },
                        { data : "Fecha" },
                        { data : "Talon" },
                        { data : "Numero" },
                        { data : "cliente" },
                        { data : "Apellido" },
                        { data : "Total" },
                        { data : "Movim" }
                    ],
                    fnRowCallback: function(nRow, aData, iDisplayIndex, iDisplayIndexFull){
                        $(nRow).children(":first").html("<div class='ui icon buttons'><a class='mini ui blue icon button inverted ver' data-numero='"+aData.Numero+"' data-tooltip='Ver Recibo'><i class='search icon'></i></a><a href='/recibos/eliminar/"+aData.Numero+"' class='mini ui red icon button inverted' data-tooltip='Eliminar' onclick='if (!confirm('¿Seguro desea eliminar?')) return false;'><i class='trash icon'></i></a></div>");
                    }
                });
            }else{
                alert("Debe seleccionar una fecha hasta.");
                $("#fecha_hasta").focus();
            }
        }else{
            alert("Debe seleccionar una fecha desde.");
            $("#fecha_desde").focus();
        }
    }

    $(function(){
        $('#fecha, #fecha2').calendar({
            type: 'date',
            monthFirst: false,
            formatter: {
                date: function (date, settings) {
                    if (!date) return '';
                    var day = date.getDate();
                    if (day < 10)
                        day = "0"+day;
                    var month = date.getMonth() + 1;
                    if (month < 10)
                        month = "0"+month;
                    var year = date.getFullYear();
                    return day + '/' + month + '/' + year;
                }
            }
        });        
    });

    $(document).on("click", ".ver", function(){
        var numero = $(this).data("numero");
        $("#WaitingModal").modal("show");
        // $.getJSON("/recibos/getByNumero/"+numero, function(recibo){
            $.getJSON("/recibos/getrec1/"+numero, function(rec1){
                // console.log(rec1)
                // console.log(rec1[0].fechaf)
                $.getJSON("/recibos/getrec2/"+numero, function(rec2){
                    $.getJSON("/recibos/getrec3/"+numero, function(rec3){
                        $("#cliente_recibo").val(rec1[0].cl_apel);
                        $("#comprobante").val(rec1[0].r1_talo);
                        $("#nro_caja").val(rec1[0].r1_nume);
                        $("#fecha_recibo").val(rec1[0].fechaf);
                        $("#total").val(rec1[0].r1_total);
                        $("#det1").val(rec1[0].det1);
                        $("#det2").val(rec1[0].det2);
                        $("#det3").val(rec1[0].det3);
                        $("#total2").val(rec2[0].total);
                        var diferencia = rec2[0].total - rec1[0].r1_total;
                        $("#dif2").val(diferencia);
                        tabla_r3_content = "";
                        tabla2_r3_content = "";
                        r2_table_content = "";
                        for(var x = 0; x < rec2.length; x++){
                            r2_table_content += "<tr><td style='text-align: center !important;'>"+rec2[x].r2_tipo+"</td><td style='text-align: center !important;'>"+rec2[x].nombre+"</td><td style='text-align: center !important;'>"+rec2[x].r2_impor+"</td><td style='text-align: center !important;'>"+rec2[x].r2_impo_o+"</td><td style='text-align: center !important;'>"+rec2[x].r2_cotiza+"</td><td style='text-align: center !important;'>"+rec2[x].r2_bsc+"</td><td style='text-align: center !important;'>"+rec2[x].r2_cheque+"</td><td style='text-align: center !important;'>"+rec2[x].r2_cuenta+"</td><td style='text-align: center !important;'>"+rec2[x].r2_banco+"</td><td style='text-align: center !important;'>"+rec2[x].fechaf+"</td><td></td><td style='text-align: center !important;'>"+rec2[x].r2_titu+"</td><td style='text-align: center !important;'>"+rec2[x].r2_cta6+"</td></tr>"
                        }
                        for(var i = 0; i < rec3.length; i++){
                            if(rec3[0].r3_tipo != ''){
                                tabla_r3_content += "<tr><td>"+rec3[i].r3_factu+"</td><td>"+rec3[i].r3_tipo+"</td><td>"+rec3[i].r3_impo+"</td><td>"+rec3[i].r3_impa+"</td><td>"+rec3[i].r3_deta+"</td></tr>";
                            }else{
                                tabla2_r3_content += "<tr><td>"+rec3[i].r3_deta+"</td><td>"+rec3[i].r3_impo+"</td></tr>"
                            }
                        }
                        //aca fijar min-height
                        $("#r2_table_content").append(r2_table_content);
                        $("#r3_table_content").append(tabla_r3_content);
                        $("#r3_table2_content").append(tabla2_r3_content);
                        // var filas_izq = $('#r3_table_content >tbody >tr').length;
                        // var filas_der = $('#r3_table2_content >tbody >tr').length;
                        // if(filas_izq != filas_der){
                        //     res = filas_izq - filas_der;
                        //     for (var y = 0; y < res; y++){
                        //         $("#r3_table2_content").append("<tr style='height: 36px !important;'><td></td><td></td></tr>");
                        //     }
                        // }
                        $(".ui.fullscreen.modal").modal({
                            blurring: true
                        });
                        $("#WaitingModal").modal("hide");
                        $('.ui.fullscreen.modal').modal('show');
                    });
                });
            });
        // });
    });
</script>
{% endblock %}