{% extends 'template.html' %}
{% block title %}
	{{ pagename }}
{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/datatable/media/css/dataTables.semanticui.min.css"/>
<div class="ui grid">
    <div class="left floated left aligned ten wide column">
        <h1 class="ui dividing blue header">{{ pagename|title }}</h1>
    </div>
    <div class="right floated right aligned six wide column">
        <div class="ui buttons">
            <a href="/codigosegreso/alta" class="ui green button inverted" data-tooltip="Nuevo" data-position="bottom center"><i class="large plus icon" style="margin: 0;"></i></a>
            <a href="/codigosegreso/export" class="ui violet button inverted" data-tooltip="Descargar Excel" data-position="bottom center"><i class="large cloud download icon" style="margin: 0;"></i></a>
            <div class="ui blue button inverted" data-tooltip="Ayuda" data-position="bottom center"><i class="large idea icon" style="margin: 0;"></i></div>
        </div>
    </div>
</div>

<div class="ui grid">
    <div class="two wide field">
        <!-- <label>Fecha Desde</label> -->
        <div class="ui calendar" id="fecha" name="fecha">
            <div class="ui input left icon">
                <i class="calendar icon"></i>
                <input type="text" placeholder="Fecha Desde" id="fecha_desde" name="fecha_desde" style="width: 140px;">
            </div>
        </div>
    </div>
    <div class="two wide field">
        <!-- <label>Fecha Hasta</label> -->
        <div class="ui calendar" id="fecha2" name="fecha2">
            <div class="ui input left icon">
                <i class="calendar icon"></i>
                <input type="text" placeholder="Fecha Hasta" id="fecha_hasta" name="fecha_hasta" style="width: 140px;">
            </div>
        </div>
    </div>
    <div class="three wide field">
        <select class="ui search dropdown" name="cliente" id="cliente">
            <option value="0">Cliente</option>
            {% for c in clientes %}
                <option value="{{ c.cl_nume }}">{{ c.cl_apel }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="five wide field">
        <select class="ui search dropdown" name="tipo" id="tipo">
            <option value="0">Medio de Pago</option>
            {% for m in mediosdepago %}
                <option value="{{ m.codigo }}">{{ m.nombre }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="two wide field">
        <button class="ui inverted green button" style="margin-right: 0px;" onClick="FiltroBusqueda();"><i class="search icon" style="margin-right: 3px; margin-left: 3px;"></i></button>
    </div>
</div><br>

<table class="ui blue striped celled table" id="tabla_codigosegreso">
    <thead>
        <tr>
        	<th><a class="ui ribbon label">Opciones</a></th>       
            <th>Codigo</th>
            <th>Nombre</th>
            <th style="text-align: center;">Cuenta</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="text-align: center !important;">
                <div class="ui icon buttons">                        
                    <a href="/codigosegreso/modificar/{{ c.co_codigo }}" class="mini ui orange icon button inverted" data-tooltip="Modificar"><i class="edit icon"></i></a>
                    <a href="/codigosegreso/eliminar/{{ c.co_codigo }}" class="mini ui red icon button inverted" data-tooltip="Eliminar" onclick="if (!confirm('¿Seguro desea eliminar?')) return false;"><i class="trash icon"></i></a>
                </div>
            </td>              
            <td>{{ c.co_codigo }}</td>
            <td>{{ c.co_deno }}</td>
            <td style="text-align: center;">{{ c.co_cuen }}</td>
        </tr>
    </tbody>
    <!-- <tbody id="tbodylisto">
                            
    </tbody>
    <script type="text/template" id="tabla_codigos" />
        [% for c in codigosegreso %]
            <tr>
            	<td style="text-align: center !important;">
                    <div class="ui icon buttons">                        
                        <a href="/codigosegreso/modificar/[[ c.co_codigo ]]" class="mini ui orange icon button inverted" data-tooltip="Modificar"><i class="edit icon"></i></a>
                        <a href="/codigosegreso/eliminar/[[ c.co_codigo ]]" class="mini ui red icon button inverted" data-tooltip="Eliminar" onclick="if (!confirm('¿Seguro desea eliminar?')) return false;"><i class="trash icon"></i></a>
                    </div>
                </td>              
                <td>[[ c.co_codigo ]]</td>
                <td>[[ c.co_deno ]]</td>
                <td style="text-align: center;">[[ c.co_cuen ]]</td>
            </tr>
        [% endfor %]
    </script> -->
</table>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/datatable/media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/datatable/media/js/dataTables.semanticui.min.js"></script>
<script type="text/javascript" src="/js/semantic.js"></script>
<script src="/js/swig.min.js"></script>
<script type="text/javascript">
    // var cTable = $('#tabla_codigosegreso').DataTable();
    swig.setDefaults({
        varControls: ['[[', ']]'],
        tagControls: ['[%', '%]']
    });

    function FiltroBusqueda(){
        var desde = $("#fecha_desde").val();
        var hasta = $("#fecha_hasta").val();

        if(desde.length > 0){
            if(hasta.length > 0){
                $('#tbodylisto').html('<p style="padding-left: 20px; padding-top: 20px;">Cargando...<p>');
                var cliente = $("#cliente").val();
                var tipo = $("#tipo").val();

                desde = encodeURIComponent(changeDate(desde));
                hasta = encodeURIComponent(changeDate(hasta));
                if(cliente == '') cliente = 0; 
                // $('#tabla_codigosegreso').DataTable( {
                //     "ajax": "/recibos/filtroajax/"+desde+"/"+hasta+"/"+cliente+"/"+tipo
                // } );
                $.getJSON("/recibos/filtroajax/"+desde+"/"+hasta+"/"+cliente+"/"+tipo, function(recibos){
                    console.log(recibos.length)

                    if (recibos.length != 0){
                        $('#tabla_codigosegreso').DataTable( {
                            "dataSrc": recibos
                        } );
                        // $('#tbodylisto > tr').remove();
                        // var template = $('#tabla_codigos').html();
                        // var output = parseSwig(template, recibos);
                        // $('#tbodylisto').html(output);
                    }else{
                        $('#tbodylisto > tr').remove();                 
                        $("#tbodylisto").html("<tr><td colspan='20' style='padding-left: 20px; padding-top: 20px;'>No se han encontrado resultados para esta búsqueda.</td></tr>");
                    }
                });
            }else{
                alert("Debe seleccionar una fecha hasta.");
                $("#fecha_hasta").focus();
            }
        }else{
            alert("Debe seleccionar una fecha desde.");
            $("#fecha_desde").focus();
        }        
    }

    $(function(){
        $('#fecha, #fecha2').calendar({
            type: 'date',
            monthFirst: false,
            formatter: {
                date: function (date, settings) {
                    if (!date) return '';
                    var day = date.getDate();
                    if (day < 10)
                        day = "0"+day;
                    var month = date.getMonth() + 1;
                    if (month < 10)
                        month = "0"+month;
                    var year = date.getFullYear();
                    return day + '/' + month + '/' + year;
                }
            }
        });        
    });
</script>
{% endblock %}
<!-- 
First you need to initialize table: For example you have table id: example

var oTable =$('#example').dataTable();
then you can use jquery get or ajax. to insert in datatable you need to use .fnAddData() for example:

$.get( "ajax/test.html", function( data ) {
        $.each($.parseJSON(data),function(i,e){
            oTable.fnAddData( 
                [
                    e.id,
                    e.name,
                    e.gender,
                    e.state,
                    e.phone
                ]);             
    }); -->