table.dataTable th.focus,
table.dataTable td.focus {
	outline: 3px solid #3366FF;
	outline-offset: -1px;
}

.selected {
	background-color: #0000aa !important;
	color: #fff !important;
	outline: thin solid #aa0000 !important;
}